<!--    ACA PROGRAMA:   CARLOS CESPEDES    -->
<div>
    <div class="d-flex justify-content-around">
        <p class="line w-100"></p>
        <h1>&nbsp;&nbsp;Maquinaria&nbsp;&nbsp;</h1>
        <p class="line w-100"></p>
    </div>


    <div class="seccion1">
        <div class="seccion1">
            
            <div>
                <img [src]="imagenMaquinaria1"  alt="" class="imagen1">
            </div>  

            <div class="titulo1">

                <h6 class="maquinaria1">Bulldozer</h6>
                <p class="letra">Maquinaria automovil sobre dos ejes neumaticos</p>

            </div>
            
        </div>


        <div class="seccion1">

            <div>
                <img [src]="imagenMaquinaria2"  alt="" class="imagen2">
            </div>

            <div class="titulo2">

                <h6 class="maquinaria2">Excavadora</h6>
                <p class="letra">Maquinaria compuesta por un vehiculo de gran potencia con una pala mecanica</p>

            </div>
            

        </div>

    </div>
</div>
    
