<div class="d-grid bg_color_sm min-vh-100 bg_color">
    <div class="d-flex justify-content-center align-items-center">
        <div class="vw_width">
            <h1 class="borde_iz bg_color_title text-center">Inventario</h1>
        </div>
    </div>
    <div class="d_grid d_flex mb-3">
        <div class="d-flex justify-content-center align-items-center col_width my-3">
            <a href="" routerLink="/piamonte-compras-page" class="vw_width_icon rounded-3 text-center bg_color_title text-decoration-none">
                <h3 class="bg_color_h3 rounded-4 my-1 font_size_h3">Compras</h3>
                <img [src]="imgCompras" class="width my-2" alt="">
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center col_width my-3">
            <a href="" routerLink="/piamonte-proveedores-page" class="vw_width_icon rounded-3 text-center bg_color_title text-decoration-none">
                <h3 class="bg_color_h3 rounded-4 my-1 font_size_h3">Proveedores</h3>
                <img [src]="imgProveedores" class="width my-2" alt="">
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center col_width my-3">
            <a href="" routerLink="/piamonte-existencias-page" class="vw_width_icon rounded-3 text-center bg_color_title text-decoration-none">
                <h3 class="bg_color_h3 rounded-4 my-1 font_size_h3">Existencias</h3>
                <img [src]="imgExistencias" class="width my-2" alt="">
            </a>
        </div>
    </div>
    <app-footer></app-footer>
</div>