.bg_color{
    background-image: var(--imagen_bg_principal)
}
.bg_color_title{
    background-color: rgba(240, 248, 255, 0.6);
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(1.3em + 1.3vw);
}
.bg_color_h3{
    background-color: aliceblue;
    border: 1px solid;
    border-color: black;
    color: black;
}
.vw_width{
    width: 60%;
}
.vw_width_icon{
    width: 45%;
}
.width{
    width: 40%;
}
.borde_iz{
    border-top: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-radius: 0 15px 0 15px;
}
.font_size_h3{
    font-size: calc(0.6em + 0.6vw);
}
@media screen and (min-width: 601px) {
    .d_grid{
        display: flex;
        justify-content: space-around;
    }
    .vw_width_icon{
        width: 100%;
    }
    .col_width{
        width: 20%;
    }
    .width{
        width: 80%;
    }
    .bg_color_title{
        background-color: rgba(240, 248, 255, 0.6);
        font-family: 'Times New Roman', Times, serif;
        font-size: calc(1.3em + 1.3vw);
    }
}
@media screen and (max-width: 600px) {
    .d_flex{
        display: grid;
    }
}