<!--    ACA PROGRAMA:   ESTEBAN VERA    -->

<div class="d-flex justify-content-around bg_color">
    <div class="my-2">
        <p class="space font_size">Ibagué - Tolima</p>
        <p class="space font_size">Via Picaleña</p>
    </div>
    <div class="d-flex align-items-center my-2">
        <h3 class="space font_size_h3">Piam<span><img [src]="imagenLogo" class="img_width" alt=""></span>nte</h3>
    </div>
    <div class="my-2">
        <p class="space font_size">Tel: 3118924525</p>
        <p class="space font_size">E-mail: Piamonte@gmail.com</p>
    </div>
</div>