<div class="min-vh-100 bg_color d-grid">
    <div class="d-flex justify-content-center align-items-center text-center">
        <div class="width-div">
            <h1 class="bg_color_div special-border text-start font_color_h1">Compras</h1>
        </div> 
    </div>
    <div class="d-flex justify-content-center align-items-center text-center">
        <!--(ngSubmit)="login()"-->
        <form [formGroup] = "formularioCompras" class="width-form">
            <div class="d-grid rounded-3 bg_color_div text-center">
                <div class="d-flex justify-content-center my-3">
                    <input type="text" class="width-input rounded-4 border-black form-control font-size-input text-center" placeholder="Productos">
                </div>
                <div class="d-flex justify-content-center my-3">
                    <input type="number" class="width-input rounded-4 border-black form-control font-size-input text-center" placeholder="Valor">
                </div>
                <div class="d-flex justify-content-center my-3">
                    <input type="text" class="width-input rounded-4 border-black form-control font-size-input text-center" placeholder="Autoriza">
                </div>
                <div class="d-flex justify-content-center my-3 mb-5">
                    <input type="date" class="mb-5 width-input rounded-4 border-black form-control font-size-input text-center">
                </div>
            </div>
            <div>
                <button type="submit" class="mt-5 btn btn-success rounded-5 w_60 font_size_buttom">Guardar</button>
            </div>
            <div>
                <button type="submit" class="mt-5 mb-5 btn btn-danger rounded-5 w_60 font_size_buttom">Cancelar</button>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>